<!DOCTYPE html>
{% load static %}

</body>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="centered">
    <div class="pic">
    <img class="pic" src="{% static "images/police1.jpg" %}" alt="" style="width: 100%; padding-bottom: 40%; margin-left: 3%;"  >
  </div>
    <div class="container">
      <h1>LOGIN AS</h1>
      <a href="/adminlogin" style="text-align:center" ;><button type="button" class="btn btn-success">ADMIN</button></a>
      <a href="/oblogin" style="text-align:center" ;><button type="button" class="btn btn-success">OB</button></a>
      <a href="/cidlogin" style="text-align:center" ;><button type="button" class="btn btn-success">CID</button></a>
      <a href="/logisticlogin" style="text-align:center" ;><button type="button"
          class="btn btn-success">LOGISTIC</button></a>

    </div>
  </div>
  <img src="https://www.industr.com/en/__image/a/2295124/alias/xl/v/2/c/22/ar/flexible/fn/Cybersecurity.jpg" alt=""
    style="width: 100%; ">
<style>
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pic{
  margin-left: 0%;
  margin-right: 0%;
  width: auto;
}

</style>


</html>